<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//com.map.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstWeb.mapper.LoginMapper">

    <select id="getSaltByAccount" parameterType="string" resultType="String">
        SELECT salt FROM tb_user WHERE account=#{account}
    </select>

    <select id="getPasswdByAccount" parameterType="string" resultType="String">
        SELECT password FROM tb_user WHERE account=#{account}
    </select>
</mapper>