<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//com.map.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstWeb.mapper.SystemMapper">

    <select id="getResourceMenusById" parameterType="map" resultMap="String">
        SELECT * FROM tb_resource_menu
        <where>
            1=1
            <if test="type != null and type != ''">
                AND type=#{type}
            </if>
        </where>
        ORDER BY id ASC
    </select>
</mapper>