<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//com.map.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstWeb.mapper.SystemMapper">
    <resultMap id="mainMenuMap" type="com.firstWeb.bean.model.MainMenu">
        <result property="id" column="id"/>
        <result property="menuName" column="menuName"/>
        <result property="parentId" column="parentId"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="uri" column="uri"/>
    </resultMap>
    <resultMap id="adminMap" type="com.firstWeb.bean.model.Administrator">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="salt" column="salt"/>
    </resultMap>


    <select id="getMainMenus" resultMap="mainMenuMap">
        SELECT * FROM tb_main_menu WHERE status != -1 ORDER BY id ASC
    </select>

    <select id="getAdminList" parameterType="com.firstWeb.bean.param.AdministratorParam" resultMap="adminMap">
        SELECT * FROM tb_administrator
        <where>
            status != -1
            <if test="account != '' and account != null">
                AND account LIKE CONCAT(#{account},"%")
            </if>
        </where>
        ORDER BY id ASC
    </select>

    <select id="getAdministratorById" parameterType="long" resultMap="adminMap">
        SELECT * FROM tb_administrator WHERE id=#{id} AND status != -1
    </select>

</mapper>
