<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//com.map.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstWeb.mapper.SystemMapper">
    <resultMap id="mainMenuMap" type="com.firstWeb.bean.model.MainMenu">
        <result property="id" column="id"/>
        <result property="menuName" column="menuName"/>
        <result property="parentId" column="parentId"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="uri" column="uri"/>
    </resultMap>
    <resultMap id="adminInfoMap" type="com.firstWeb.bean.response.AdministratorInfo">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="nickname" column="nickname"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
    </resultMap>


    <select id="getMainMenus" resultMap="mainMenuMap">
        SELECT * FROM tb_main_menu WHERE status != -1 ORDER BY id ASC
    </select>

    <select id="getAdminListOnCondition" parameterType="com.firstWeb.bean.param.AdministratorParam" resultMap="adminInfoMap">
        SELECT * FROM tb_administrator
        <where>
            <if test="account != '' and account != null">
                AND account LIKE CONCAT(#{account},"%")
            </if>
            <if test="nickname != '' and nickname != null">
                AND nickname LIKE CONCAT(#{nickname},"%")
            </if>
            <if test="email != '' and email != null">
                AND email LIKE CONCAT(#{email},"%")
            </if>
            <if test="telephone != '' and telephone != null">
                AND telephone LIKE CONCAT(#{telephone},"%")
            </if>
        </where>
        ORDER BY id ASC
        <if test="pageInfo.currentPage > 0 and pageInfo.perPageRecords > 0">
            LIMIT #{pageInfo.from}, #{pageInfo.perPageRecords}
        </if>
    </select>

    <select id="getAdminListSize" parameterType="com.firstWeb.bean.param.AdministratorParam" resultType="int">
        SELECT COUNT(*) FROM tb_administrator
        <where>
            <if test="account != '' and account != null">
                AND account LIKE CONCAT(#{account},"%")
            </if>
            <if test="nickname != '' and nickname != null">
                AND nickname LIKE CONCAT(#{nickname},"%")
            </if>
            <if test="email != '' and email != null">
                AND email LIKE CONCAT(#{email},"%")
            </if>
            <if test="telephone != '' and telephone != null">
                AND telephone LIKE CONCAT(#{telephone},"%")
            </if>
        </where>
    </select>

    <select id="getAdministratorById" parameterType="long" resultMap="adminInfoMap">
        SELECT * FROM tb_administrator WHERE id=#{id} AND status != -1
    </select>

    <update id="modifyAdminInfo" parameterType="com.firstWeb.bean.param.AdministratorParam">
        UPDATE tb_administrator SET
            nickname = #{nickname},
            telephone = #{telephone},
            email = #{email}
        WHERE id = #{id}
    </update>

    <select id="checkOwnNickname" parameterType="long" resultType="String">
        SELECT nickname FROM tb_administrator WHERE id = #{id}
    </select>

</mapper>
