<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//com.map.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstWeb.mapper.UserMapper">
    <resultMap id="registerUserInfoMap" type="com.firstWeb.bean.response.RegisterUserInfo">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="username" column="username"/>
        <result property="sex" column="sex"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <association property="districtInfo" select="com.firstWeb.mapper.SystemMapper.getDistrictNameByDistrict"
                     column="district"></association>
    </resultMap>

    <select id="getRegisterUserListOnCondition" parameterType="com.firstWeb.bean.param.RegisterUserParam"
            resultMap="registerUserInfoMap">
        SELECT * FROM tb_register_user
        <where>
            1 = 1
            <if test="account != '' and account != null">
                AND account LIKE CONCAT("%",#{account},"%")
            </if>
            <if test="username != '' and username != null">
                AND username LIKE CONCAT("%",#{username},"%")
            </if>
            <if test="sex != '' and sex != null">
                AND sex = #{sex}
            </if>
            <if test="email != '' and email != null">
                AND email LIKE CONCAT("%",#{email},"%")
            </if>
            <if test="telephone != '' and telephone != null">
                AND telephone LIKE CONCAT("%",#{telephone},"%")
            </if>
            <if test="district != '' and district != null">
                AND district = #{district}
            </if>
            <if test="city != '' and city != null and (district == '' or district == null)">
                AND district IN (SELECT id FROM tb_district WHERE parentId = #{city})
            </if>
            <if test="province != '' and province != null and (city == '' or city == null) and (district == '' or district == null)">
                AND district IN (SELECT id FROM tb_district WHERE parentId IN (SELECT id FROM tb_district WHERE parentId
                = #{province}))
            </if>
            <if test="address != '' and address != null">
                AND address LIKE CONCAT("%",#{address},"%")
            </if>
            <if test="createTimeBegin != '' and createTimeBegin != null">
                AND createTime &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != '' and createTimeEnd != null">
                AND createTime &lt;= #{createTimeEnd}
            </if>
            <if test="status != '' and status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY createTime DESC
        <if test="pageInfo.currentPage > 0 and pageInfo.perPageRecords > 0">
            LIMIT #{pageInfo.from}, #{pageInfo.perPageRecords}
        </if>
    </select>

    <select id="getRegisterUserListSize" parameterType="com.firstWeb.bean.param.RegisterUserParam" resultType="int">
        SELECT COUNT(1) FROM tb_register_user
        <where>
            1 = 1
            <if test="account != '' and account != null">
                AND account LIKE CONCAT("%",#{account},"%")
            </if>
            <if test="username != '' and username != null">
                AND username LIKE CONCAT("%",#{username},"%")
            </if>
            <if test="sex != '' and sex != null">
                AND sex = #{sex}
            </if>
            <if test="email != '' and email != null">
                AND email LIKE CONCAT("%",#{email},"%")
            </if>
            <if test="telephone != '' and telephone != null">
                AND telephone LIKE CONCAT("%",#{telephone},"%")
            </if>
            <if test="district != '' and district != null">
                AND district = #{district}
            </if>
            <if test="city != '' and city != null and (district == '' or district == null)">
                AND district IN (SELECT id FROM tb_district WHERE parentId = #{city})
            </if>
            <if test="province != '' and province != null and (city == '' or city == null) and (district == '' or district == null)">
                AND district IN (SELECT id FROM tb_district WHERE parentId IN (SELECT id FROM tb_district WHERE parentId
                = #{province}))
            </if>
            <if test="address != '' and address != null">
                AND address LIKE CONCAT("%",#{address},"%")
            </if>
            <if test="createTimeBegin != '' and createTimeBegin != null">
                AND createTime &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != '' and createTimeEnd != null">
                AND createTime &lt;= #{createTimeEnd}
            </if>
            <if test="status != '' and status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="exportRegisterUserList" parameterType="com.firstWeb.bean.param.RegisterUserParam"
            resultMap="registerUserInfoMap">
        SELECT * FROM tb_register_user
        <where>
            1 = 1
            <if test="account != '' and account != null">
                AND account LIKE CONCAT("%",#{account},"%")
            </if>
            <if test="username != '' and username != null">
                AND username LIKE CONCAT("%",#{username},"%")
            </if>
            <if test="sex != '' and sex != null">
                AND sex = #{sex}
            </if>
            <if test="email != '' and email != null">
                AND email LIKE CONCAT("%",#{email},"%")
            </if>
            <if test="telephone != '' and telephone != null">
                AND telephone LIKE CONCAT("%",#{telephone},"%")
            </if>
            <if test="district != '' and district != null">
                AND district = #{district}
            </if>
            <if test="city != '' and city != null and (district == '' or district == null)">
                AND district IN (SELECT id FROM tb_district WHERE parentId = #{city})
            </if>
            <if test="province != '' and province != null and (city == '' or city == null) and (district == '' or district == null)">
                AND district IN (SELECT id FROM tb_district WHERE parentId IN (SELECT id FROM tb_district WHERE parentId
                = #{province}))
            </if>
            <if test="address != '' and address != null">
                AND address LIKE CONCAT("%",#{address},"%")
            </if>
            <if test="createTimeBegin != '' and createTimeBegin != null">
                AND createTime &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != '' and createTimeEnd != null">
                AND createTime &lt;= #{createTimeEnd}
            </if>
            <if test="status != '' and status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY id ASC
    </select>
</mapper>
