<div>
    <div class="container" style="width: 100%">
        <ol class="breadcrumb">
            <li><strong><span style="color: #27a0d7">管理员列表</span></strong></li>
        </ol>
        <form class="form-horizontal" role="form" style="float: left; width: 100%" method="post" id="queryForm">
            <div>
                <div class="form-group col-md-3 five-columns">
                    <label class="col-md-3 control-label">{{account.label}}</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="account" ng-model="account.value"/>
                    </div>
                </div>
                <div class="form-group col-md-3 five-columns">
                    <label class="col-md-3 control-label">{{username.label}}</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="username" ng-model="username.value"/>
                    </div>
                </div>
                <div class="form-group col-md-3 five-columns">
                    <label class="col-md-3 control-label">{{email.label}}</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="email" ng-model="email.value"/>
                    </div>
                </div>
                <div class="form-group col-md-3 five-columns">
                    <label class="col-md-3 control-label">{{telephone.label}}</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="telephone" ng-model="telephone.value"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <button id="query" class="btn btn-primary">{{query.label}}</button>
                <button id="reset" class="btn btn-warning">{{reset.label}}</button>
                <button id="export" class="btn btn-info">{{export.label}}</button>
                <span id="unzipPw"></span>
            </div>
        </form>
    </div>
    <div class="container" style="width: 100%; margin-top: 15px">
        <table id="adminList">
        </table>
    </div>
</div>
<style>
    /*.five-columns {*/
        /*width: 20%;*/
    /*}*/
</style>
