<div class="navbar navbar-inverse" style="width: 100%" ng-controller="menusCtrl">
    <div class="container-fluid">
        <ul class="nav navbar-nav  navbar-left">
            <li class="dropdown" ng-repeat="plugin in mainMenus">
                <a href="#" class="dropdown-toggle" ng-if="!plugin.children">
                    <h4>{{i18n[plugin.menuName]}}</h4>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" ng-if="plugin.children">
                    <h4>{{i18n[plugin.menuName]}}<b class="caret"></b></h4>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="subPlugin in plugin.children">
                        <a ui-sref="{{subPlugin.uri}}" class="btn">{{i18n[subPlugin.menuName]}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <h5>{{adminInfo.label}}<b class="caret"></b></h5>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="modifyAdminInfo.click()">{{modifyAdminInfo.label}}</a></li>
                    <li><a ng-click="logout.click()">{{logout.label}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="adminInfoModal" tabindex="-1" role="dialog" aria-labelledby="modal"
         data-backdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
<style>
    a {
        cursor: pointer;
    }
</style>
