<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown" ng-repeat="plugin in mainMenus">
                <a ui-sref="{{plugin.uri}}" class="dropdown-toggle" ng-if="!plugin.children">
                    <h4>{{i18n[plugin.menuName]}}</h4>
                </a>
                <a ui-sref="{{plugin.uri}}" class="dropdown-toggle" data-toggle="dropdown" ng-if="plugin.children">
                    <h4>{{i18n[plugin.menuName]}}<b class="caret"></b></h4>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="subPlugin in plugin.children" ui-sref="{{subPlugin.uri}}"><a>{{i18n[subPlugin.menuName]}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
